<div class="gameName">
    <p>Rock, Paper, Scissors</p>
</div>
<div class="rpsBox">
    <div class="smallBoxesFlex">

        <div class="rock smallBoxes" [ngClass]="{'selected' : rockSelected}" (click)="optionClicked('rock')"></div>
        <div class="paper smallBoxes" [ngClass]="{'selected' : paperSelected}" (click)="optionClicked('paper')"></div>
        <div class="scissors smallBoxes" [ngClass]="{'selected' : scissorsSelected}" (click)="optionClicked('scissors')"></div>
        
    </div>
    <button class="btn" (click)="buttonClicked()">Shoot!</button>

</div>