:host{
    display: block;
    width: 800px;
    height: 330px;
    margin: 100px auto;
    padding: 15px;
}

.rpsBox{
    width: 700px;
    height: 160px;
    border: 1px solid #cccc;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px #ccc;
}

.link{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif; 
    color: #cb1f20;
}

.linkDiv{
    margin-top: 15px;
    margin-left: 695px;
    margin-bottom: 10px;
}

.smallBoxesFlex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.smallBoxes{
    width: 115px;
    height: 115px;
    margin-left: 45px;
    cursor: pointer;
}

.gameName{
    color:  black;
    font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
    display: flex;
    margin-bottom: 13px;
}

.rock{
    background-image: url('../../../assets/rock.png');
    background-size: cover;
}

.paper{
    background-image: url('../../../assets/paper.png');
    background-size: cover;
}

.scissors{
    background-image: url('../../../assets/scissors.png');
    background-size: cover;
}

.btn{
    margin-left: 310px;
    margin-top: 30px;
    width: 120px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: linear-gradient(30deg, #a9a9a9 0%, #cb1f20 43%, #a9a9a9 100%);
    font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
    font-size: 17px;
    color: #ffff;
}

.selected {
    border: 2px solid #c33c3d;
}

.username{
    margin-left: 340px;  
}

input{
    font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
}

.rounds{
    font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
    margin-top: -16px;
    margin-left: -15px;
}